@model Borg.System.Backoffice.Core.GenericEntity.EditEntityViewModel
@{
    ViewBag.Title = Model.Title;

}


@{
    ViewBag.Title = Model.Title;

}

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Quick Example</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
            <div class="box-body">
                <h1>@Model.ProperyInfos().Count()</h1>
                @foreach (var p in Model.ProperyInfos())
                {
                    @Html.Editorial(p, Model.Entity)
                    @*@await Html.PartialAsync("EditorTemplates/ViewModel", new Borg.System.Backoffice.Lib.ViewModel() { Value = Model.Entity, Property = p })*@
                }
     
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

@foreach (var p in Model.ProperyInfos())
{

   @await Html.PartialAsync("EditorTemplates/ViewModel", new Borg.System.Backoffice.Lib.ViewModel() { Value = Model.Entity, Property = p})
}


