@using Borg.Infrastructure.Core.DDD.Contracts
@model Borg.System.Backoffice.Core.GenericEntity.EntityGridViewModel
<div class="row">
    <div class="col-md-12">

        <div class="box box-default">
            @if (Model.Pager.TotalRecords > 0)
            {
            }

            <div class="box-body">

                @if (Model.Pager.TotalRecords > 0)
                {
                <table class="table table-bordered">
                    <tbody>

                        <tr>
                            <th style="width: 10px"><input type="checkbox" /></th>
                            @foreach (var hcol in Model.HeaderColumns.OrderBy(x => x.Order))
                                {
                                    if (hcol.Visible)
                                    {
                            <th>@hcol.Title</th>
                                    }
                                }
                            <th></th>
                        </tr>

                        @foreach (var row in Model.Pager)
                            {
                        <tr>
                            <td><input type="checkbox" /></td>
                            @foreach (var hcol in Model.HeaderColumns.OrderBy(x => x.Order))
                                    {
                                        if (hcol.Visible)
                                        {
                                            var type = row.GetType();
                                            var value = type.GetProperty(hcol.Property).GetValue(row, null);
                                            if (value != null)
                                            {
                            <td>@value </td>
                                            }
                                            else
                                            {
                            <td></td>
                                            }

                                        }

                                    }
                            <td>
                                @{
                                            var identifiable = row as IIdentifiable;
                                            var url = string.Empty;
                                            if (identifiable != null)
                                            {
                                                var ids = identifiable.Keys;

                                                var builder = new System.Text.StringBuilder(Url.Action("Detail"));
                                                builder.Append("?").Append(ids.ToQueryString());
                                                url = builder.ToString().TrimEnd('&');
                                            }

                                            var title = row.GetType().Name;

                                            var titled = row as IHaveTitle;
                                            if (titled != null)
                                            {
                                                title = titled.Title;
                                            }
                                }
                                <a href="@url" title="@title">@title</a>
                            </td>
                        </tr>
                            }
                    </tbody>
                </table>

                }
                else
                {

                <p>no results</p>
                }
            </div>
            <div class="box-footer">
            </div>
        </div>
    </div>
</div>