<!DOCTYPE html>

<html>
<head>
    <partial name="Layout/_head" />
  
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div>
        @RenderBody()
    </div>
    <partial name="Layout/_bottom" />
</body>
</html>
