<!DOCTYPE html>

<html>
<head>
    <partial name="Layout/_head" />
</head>
<body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">
        <partial name="Layout/_header" />
        <partial name="Layout/_nav" />
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    General Form Elements
                    <small>Preview</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Forms</a></li>
                    <li class="active">General Elements</li>
                </ol>
            </section>
            <section class="content">
                @RenderBody()
                    </section>
        </div>
        <partial name="Layout/_footer" />
        <partial name="Layout/_sidebar" />
    </div>
    <partial name="Layout/_bottom" />
    @await RenderSectionAsync("bottomscripts", required: false)
</body>
</html>